.wheel-container {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .wheel {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #000;
    overflow: hidden;
  }
  
  .segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background: #ffbd33;
    transform-origin: 100% 100%;
    clip-path: polygon(100% 100%, 0% 100%, 50% 50%);
  }
  
  .segment:nth-child(even) {
    background: #ff5733;
  }
  
  .prize-text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: 0% 100%;
    color: #000;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .arrow {
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 20px;
    height: 40px;
    background-color: #000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 2;
  }
  